@tailwind base;

@tailwind components;

body {
  margin: 0;
  font-family: -apple-system, 'ObjektivMk3W03-Thin', BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.btn {
  @apply bg-raiselyPurpleMedium rounded-full py-4 text-white font-bold;
  transition: all 1s linear;
}

.btn:disabled {
  @apply opacity-75;
}

.btn:hover {
  @apply bg-raiselyPurpleLight;
  transition: all 0.5s linear;
}

.form-label {
  @apply mb-2 font-bold text-sm absolute;
  top: 4px;
  left: 4px;
}

.form-input {
  @apply block w-full p-2 pt-8 mb-4 border border-transparent text-lg;
  background-color: rgb(241, 241, 247);
}

input:required:valid {
  border: 1px solid #9638d8 !important;
}

input:focus:required:invalid,
input:not(:placeholder-shown):invalid {
  border: 1px solid tomato !important;
}

@tailwind utilities;
