@tailwind base;

@tailwind components;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.form-label {
  @apply mb-2 font-bold text-sm absolute;
  top: 4px;
  left: 4px;
}

.form-input {
  @apply block w-full p-2 pt-8 mb-4 border border-transparent text-lg;
  background-color: rgb(241, 241, 247);
}

input:required:valid {
  border: 1px solid #9638d8 !important;
}

input:focus:required:invalid,
input:not(:placeholder-shown):invalid {
  border: 1px solid tomato !important;
}

.btn:disabled {
  @apply opacity-75;
}

.btn {
  @apply bg-raiselyPurpleMedium font-normal w-full py-4 rounded-full text-white mx-auto text-2xl transition-all duration-1000;
}

.btn:hover {
  @apply bg-raiselyPurpleLight;
}

@tailwind utilities;
